@model IEnumerable<WeBlog.Models.Comment>

@{
    ViewData["Title"] = "Comments Index";
}

<h1>Original Comments</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moderated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModerationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moderator)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Where(c => c.Moderated == null && c.Deleted == null).ToList()) 
{
        <tr>
            <td>
                @item.Created.ToShortDateString()
            </td>
            <td>
                @if (item.Updated.HasValue)
                {
                    item.Updated.Value.ToShortDateString();        
                }
                else
                {
                    <text>N/A</text>   
                }
            </td>
            <td>
                N/A
            </td>
            <td>
                N/A
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModerationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.Abstract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogUser.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moderator.DisplayName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<hr />
<br />

<h1>Moderated Comments</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moderated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModerationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moderator)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Where(c => c.Moderated != null && c.Deleted == null).ToList()) 
{
        <tr>
            <td>
                @item.Created.ToShortDateString()
            </td>
            <td>
                @if (item.Updated.HasValue)
                {
                    item.Updated.Value.ToShortDateString();     
                }
                else
                {
                    <text>N/A</text>  
                }
            </td>
            <td>
                @item.Moderated.Value.ToShortDateString()
            </td>
            <td>
                N/A
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModerationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.Abstract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogUser.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moderator.DisplayName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<hr />
<br />

<h1>Deleted Comments</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moderated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModerationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moderator)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Where(c => c.Deleted != null).ToList()) 
{
        <tr>
            <td>
                @item.Created.ToShortDateString()
            </td>
            <td>
                @if (item.Updated.HasValue)
                {
                    item.Updated.Value.ToShortDateString();   
                }
                else
                {
                    <text>N/A</text>   
                }
            </td>
            <td>
                @if (item.Moderated.HasValue) 
                {
                    item.Moderated.Value.ToShortDateString();
                }
                else
                {
                    <text>N/A</text>  
                }
            </td>
            <td>
                @item.Deleted.Value.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModerationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.Abstract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogUser.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moderator.DisplayName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
