@using Microsoft.AspNetCore.Identity
@using WeBlog.Enums;
@model WeBlog.Models.Post
@inject WeBlog.Services.Interfaces.IImageService imageService
@inject UserManager<BlogUser> userManager

@{
    ViewData["Title"] = "Details";
}

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center text-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>

<hr />

<article>
    <div class="row">
        <div class="col text-center font-weight-bold h3">
            Custom Post Tags
        </div>
        <div class="row">
            <div class="col text-center">
                @foreach(var tag in Model.Tags)
                {
                    <a class="btn btn-warning btn-sm btn-outline-dark" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
                }
            </div>
        </div>
    </div>
</article>

<hr />

<div class="text-center">
    @if(User.Identity.IsAuthenticated)
    {
        <form asp-controller="Comments" asp-action="Create" method="POST">
            @Html.Hidden("PostId", Model.Id)
            <div class="form-group">
                <label class="h2 control-label font-weight-bold">Add Comment</label>
                <textarea name="body" class="form-control" rows="10" required></textarea>
            </div>
            <button type="submit" class="btn btn-dark btn-sm">Submit</button>
        </form>
    } 
    else
    {
       <a class="btn btn-sm btn-dark" asp-area="Identity" asp-page="/Account/Login" asp-route-ReturnUrl="/Posts/Details?slug=@Model.Slug">
            Login to add comments    
       </a> 
    }
</div>

<hr />

<div class="d-grid gap-2">
    <button id="commentSection" class="btn btn-sm btn-dark">@Model.Comments.Count Comment(s)</button>
</div>

@foreach(var comment in Model.Comments) 
{
    <div class="row mt-2">
        <div class="col">
            <div class="media media-border p-0 bg-light">
                <img class="me-3 mt-3 rounded-circle" style="width: 60px;" src="@imageService.DecodeImage(comment.BlogUser.ImageData, comment.BlogUser.ContentType)" />
                <div class="media-body">
                    <h4>@comment.BlogUser.FullName</h4>
                    <small><i>Posted on @comment.Created.ToString("MMM dd, yyyy")</i></small>
                    <p>@comment.Body</p>
                    @if(comment.Moderated is null && comment.Deleted is null && comment.BlogUserId == userManager.GetUserId(User))
                    {
                        <button data-bs-toggle="modal" data-bs-target="#editModal_@comment.Id" class="btn btn-sm btn-dark float-end font-weight-bold">Edit</button>
                    }
                    
                    @if(User.IsInRole(BlogRole.Moderator.ToString()) && comment.Deleted is null)
                    {
                        <div class="row">
                            <div class="col-2">
                                <button class="btn btn-sm btn-dark font-weight-bold" data-bs-toggle="modal" data-bs-target="#moderateModal_@comment.Id">Moderate</button>
                            </div>
                            <div class="col-2">
                                <form asp-controller="Comments" asp-action="Delete">
                                    @Html.Hidden("Id", comment.Id)
                                    @Html.Hidden("Slug", Model.Slug)
                                    <button class="btn btn-sm btn-dark font-weight-bold">Delete</button>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    


    @* Edit Modal *@
    <div class="modal" id="editModal_@comment.Id">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Editing Comment...</h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <form asp-controller="Comments" asp-action="Edit">
                        @Html.Hidden("Id", comment.Id)
                        <div class="form-group">
                            <textarea name="Body" class="form-control" required>@comment.Body</textarea>
                        </div>
                        <button class="btn btn-sm btn-dark border-success font-weight-bold mt-2" type="submit">Submit</button>
                    </form>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-dark font-weight-bold" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @* Moderate Modal *@
    <div class="modal" id="moderateModal_@comment.Id">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Moderating Comment...</h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <form asp-controller="Comments" asp-action="Moderate">
                        @Html.Hidden("Id", comment.Id)
                        @Html.Hidden("Body", comment.Body)
                        <div class="form-group">
                            <label class="control-label">Original Comment</label>
                            <textarea name="Body" class="form-control" disabled style="resize: none;">@comment.Body</textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Moderated Comment</label>
                            <textarea name="Body" class="form-control" required>@comment.ModeratedBody</textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Reason for moderation</label>
                            <select class="form-control" asp-for="@comment.ModerationType" name="ModerationType" asp-items="@Html.GetEnumSelectList<ModerationType>()"></select>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-sm btn-dark border-success font-weight-bold" type="submit">Submit</button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-sm btn-dark font-weight-bold" type="button" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-dark font-weight-bold" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

}